<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2016 Crystal Rom
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.eskilop.crystalshards">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".tiles.UserTile"
            android:icon="@drawable/ic_account_circle_white_48dp"
            android:label="@string/default_account_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.UpdaterActivity"
            android:label="@string/updater_title">
            <intent-filter>
                <action android:name="it.eskilop.crystalshards.UpdaterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChangelogActivity"
            android:label="@string/changelog_title">
            <intent-filter>
                <action android:name="it.eskilop.crystalshards.ChangelogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ContributorsActivity"
            android:label="@string/contributors_title">
            <intent-filter>
                <action android:name="it.eskilop.crystalshards.ContributorsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserTileCustomizationActivity"></activity>
        <activity
            android:name=".activities.CrystalInfoActivity"
            android:label="@string/contributors_title">
            <intent-filter>
                <action android:name="it.eskilop.crystalshards.CrystalInfoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
